*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
@media (max-width: 400px){
	html{
		font-size: 14px;
	}
}
body{
	color: #fff;
	background: #333;
	overflow-x: hidden;
	height: 100vh;
	max-width: 100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
/* NAVEGACION  */
.navegacion{
	height: 70px;
	width: 95%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 400px){
	.navegacion{
		padding-top: 10px;
	}
}
.logo{
	width: 80px;
	margin-left: 4vw;
}
.logo img{
	width: 90%;
	filter: contrast(60%);
}
.navegacion ul{
	display:flex;
	justify-content: flex-end;
	gap:40px;
	font-size: 1.2em;
}
.navegacion ul li:last-child{
	margin-right: 2vw;
}
.navegacion ul li:hover{
	color: rgb(13 110 195);
	cursor:pointer;
}
ul.hamburguer{
	display: none;
}
/*  menu ahmburguesa    */
@media (max-width: 570px){
	ul.hamburguer{
		display: block;
	}
	.navegacion > .hidden{
		position: absolute;
		top: 0;
		left: -400px;
		height: 100vh;
		width: 50vw;
		padding: 30px 30px 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		z-index: 30;
		font-size: 1.5em;
		text-align: center;
		background: rgb(13 110 195);
		transition: all 2s;
	}
	.navegacion > .hidden li:hover{
		color: #333;
	}
	.hidden.izquierda{
		left: 0;
	}
}

/*  SHOW   */
.show{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2em;
}
@media (max-width: 504px){
	.show{
		margin-top: 20px;
	}
}
.show h1{
	text-align: center;
	font-weight:normal;
	word-spacing: 7px;
	margin-bottom: 0.4em;
}

@media (max-width: 504px){
	.show h1{
		margin-bottom: 17px;
	}
}
.btn button{
	color: white;
	background: rgb(13 110 195);
	font-size: 0.5em;
	font-weight: 600;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition:all .1s ;

}
@media (max-width: 400px){
	.btn{
		margin-bottom: 20px;
	}
}
.btn button:hover{
	letter-spacing: 4px;
}
.btn button:active{
	letter-spacing: 2px;
}

/*     ADVENTURE   */
.adventure{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -10;
}
.adventure p{
	font-size: clamp(24px,15vw,9em);
	font-weight: 900;
	color: rgba(0, 0, 0, .3);

}
/*  imagen de la motocicleta  */

.bike-center{
	width: 87%;
	height: auto;
	margin:0 auto;
	position: relative;
	
}
.bike-center > img{
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}
/* caracteristicas de la moto  */

.features > .features-content{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: space-between;
	text-align: center;
	opacity: 0;
	transition: all 1.5s;
}

@media (max-width: 1090px){
	.features > .features-content{
		width: 88%;
	}
}
@media (max-width: 987px){
	.features > .features-content{
		width: 94%;
	}
}
@media (max-width: 899px){
	section.features{
		position: relative;
		top: 70px;
	}
	.features > .features-content{
		flex-direction: column;
	}
}
@media (max-width: 400px){
	.features > .features-content h2{
		margin-top: 10px;
	}
}
.features .opacity{
	opacity: 1;
	top: 45%;
}

span{
	display: inline-block;
	color:rgb(13 110 195);
	text-shadow: 0 0 1px rgb(13 110 195),0 0 3px rgb(13 110 195),0 0 5px rgb(13 110 195),0 0 9px rgb(13 110 195);
	font-size: 0.7em;
	letter-spacing: 2px;
	margin-bottom: 12px;
}
h2{
	font-size: 2em;
}		
/*   footer  */
.footer{
	width: 85%;
	margin:0 auto; 
	display: flex;
	justify-content: space-between;
}
@media (max-width: 899px){
	.footer{
		margin-top: 180px;
		padding-bottom: 20px;
	}
}
@media (max-width: 504px){
	.footer{
		padding-bottom:0px ;
	}
}
.footer ul li{
	display: inline-block;
	margin-right: 20px;
}
.footer ul li a i{
	color: white;
	font-size: 1.2em;
}
.footer ul li a i:hover{
	color:rgb(13 110 195);
}
/*  circulos  */
.circle ul li{
	display: inline-block;
	background: rgba(0, 0, 0, .3);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}
.circle ul li.active{
	background: #fff;
}
.circle ul li:not(:last-child){
	margin-right:15px ;
}
